<div ng-controller="GitHubCtrl">
  <form role="form" ng-submit="getGitInfo()">
    <div class="col-md-6">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" id="ghusername" placeholder="Enter a Github username" ng-model="username">
        <span class="input-group-btn">
          <button type="submit" id="ghsubmitbtn" class="btn btn-default search">Become a mentee</button>
        </span>
        <div id="ghapidata" class="clearfix"></div>
      </div>
    </div>
  </form>

  <hr>

  <div class="panel panel-default">
    <div class="panel-heading">Students list</div>
      <div class="panel-body">
        <div ng-show="userNotFound">
            <h2>No User Info Found</h2>
         </div>

        <div class="ghcontent" ng-repeat="student in students | orderBy:'-upvotes'">
          <div class="media">
            <a class="media-left"  href="{{ student.html_url }}" target="_blank">
              <img class="profile-image" src="{{ student.avatar_url }}" alt="{{ student.login }}">
            </a>
            <div class="media-body">
              <h4 class="media-heading">{{student.name}}
                <span class="smallname">(@<a href="{{student.html_url}}" target="_blank"> {{student.login}} </a>)</span>
                <span ng-click="incrementUpvotes(student)">| Thumbs up <i class="fa fa-thumbs-o-up"></i></span>
              </h4>
                Followers: {{ student.followers }} | Following: {{ student.following }} | Repos: {{ student.public_repos }} | upvotes: {{student.upvotes}}</p>
                <div class="repolist clearfix">
                 <p ng-hide="reposFound">No repos!</p>

                 <div ng-show="reposFound">
                  <p><strong>Repos List:</strong></p>
                   <span ng-repeat="repo in repos" >
                   <span class="label label-primary">{{repo.name}}</span>
                </span>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
