<div class="container" ng-controller="MentorCtrl">

<h3>Please enter mentor's github username to start.</h3>
<form role="form">
    <div class="col-md-6">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" id="ghusername" placeholder="Enter a Github username" ng-model="username">
        <span class="input-group-btn">
          <button type="submit" id="ghsubmitbtn" class="btn btn-primary search" ng-click="getGitInfo()">Search</button>
        </span>
        <div id="ghapidata" class="clearfix"></div>
      </div>
    </div>
  </form>

  <hr>

  <div class="panel panel-default">
    <!-- <div class="panel-heading"></div> -->
    <div class="panel-body">
      <div ng-show="userNotFound">
          <h2>No User Info Found</h2>
       </div>
       <div ng-show="loaded">

          <div class="ghcontent">
            <div class="media">
              <a class="media-left"  href="{{ user.html_url }}" target="_blank">
                <img class="profile-image" src="{{ user.avatar_url }}" alt="{{ user.login }}">
              </a>
              <div class="media-body">
                <h4 class="media-heading">{{user.name}} <span class="smallname">(@<a href="{{user.html_url}}" target="_blank"> {{user.login}} </a>)</span></h4>
                  Followers: {{ user.followers }} - Following: {{ user.following }}<br>Repos: {{ user.public_repos }}</p>
              </div>
            </div>
          </div>

          <div class="repolist clearfix">
             <p ng-hide="reposFound">No repos!</p>

             <!-- <div ng-show="reposFound">
                <p><strong>Repos List:</strong></p>
                <ul class="list-group" ng-repeat="repo in repos" >
                   <li class="list-group-item"><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></li>
                </ul>
             </div> -->
          </div>
       </div>
       <div id="studentsTable" style="display: none" >
    <table class="table table-striped" style="width: 50%">
      <thead>
        <tr>
          <th>Name of Student</th>
          <th>Subject</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="student in students">
          <td>
            {{student.name}}
          </td>
          <td>
            {{student.subject}}
          </td>
        </tr>
      </tbody>
      </table>
     <!--  <button class="btn btn-primary" id="showStudents">Show Students</button> -->
    </div>
    </table>
    <div id="totalReputation" style="display: none">
      <h3>Reputation: <span id="reputation"></span></h3>  <!-- counter for now -->
      <button class="btn btn-success" ng-click="up()">Up</button>
      <button class="btn btn-danger" ng-click="down()">Down</button>
    </div>

    </div>
  </div>
</div>
<!-- 
  <form role="form">
    <div class="col-md-6">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" id="mentorName" placeholder="Enter a mentor username">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary search" type="button">Search</button>
        </span>
      </div>
    </div>
  </form>
  <div id"mentorImage"></div>
  <div id"mentorInfo"></div>
  <div id"currentStudents"></div>
  <div id="mentorImage"></div>
  <div id="mentorInfo"></div>
  <div id="mentorMetrics"></div>
  <div id="totalReputation" style="display: none">
    <h3>Reputation: <span id="reputation"></span></h3> <!-- counter for now -->
    <!-- <button class="btn btn-success" id="up">Up</button>
    <button class="btn btn-danger" id="down">Down</button>
  </div>
  <div id="studentsTable" style="display: none">
    <table class="table table-striped" style="width: 50%">
      <thead>
        <tr>
          <th>Name of student</th>
          <th>Subject</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <button class="btn btn-primary" id="showStudents">Show Students</button>
  </div>
</div>
 -->